.left_container{
    position: absolute;
    top: 50%;
    left: 40%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 400px;
    height: 300px;
    overflow: hidden;
    
}
.left_container img{
    object-fit: cover;
    width: 400px;
    height: 300px;
}
.container{
    position: absolute;
    top: 50%;
    left: 70%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px white solid;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    font-size: 20px;
    color: white;
}
.container .title{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 50px;
}
.container .elements input{
    padding: 10px 10px;
    outline: none;
    border-radius: 10px;
}
.container .elements .btn_login{
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 90px;
}
.container .elements .btn_registry{
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 10px;
}
.container .elements .btn_registry:hover{
    color: white;
    background-color: rgb(53, 115, 223);
}
.container .elements .btn_login:hover{
    color: white;
    background-color: rgb(53, 115, 223);
}
