<div class="left_container">
    <img src="assets/image/Hi_login.gif" alt="">
</div>
<div class="container">
    <div class="title">Login</div>
    <div class="elements">
        <form action="#">
            <div class="e_username">
                <label class="title_username">Username:</label>
                <input type="text" name="username" placeholder="username"><br>
            </div><br>
            <div class="e_password">
                <label class="title_password">Password :</label>
                <input type="password" name="password" placeholder="password"><br>
            </div>
            <button class="btn_login">Login</button>
            <button class="btn_registry">Registry</button>
        </form>
    </div>
</div>
