<div class="container">
    <div class="sub_container">
        <div class="form">
            <div class="title">Thông tin tài khoản</div>
            <form action="">
                <div class="element">
                    <div class="element_1">
                        <div class="fullname">
                            <label for="t_fullname">Full Name: </label>
                            <input type="text" name="fullname" placeholder="fullname">
                        </div>
                        <div class="username">
                            <label for="t_username">User Name:</label>
                            <input type="text" name="username" placeholder="username"
                                value="huyhomhinh" readonly>
                        </div>
                        <div class="password">
                            <label for="t_password">Password:</label>
                            <input type="password" name="password" placeholder="password">
                        </div>
                        <div class="re_password">
                            <label for="t_re_password">Re-password:</label>
                            <input type="password" name="re_password" placeholder="password">
                        </div>
                    </div>
                    <div class="element_2">
                        <div class="email">
                            <label for="t_email">Email:</label>
                            <input type="text" name="email" placeholder="1234567@gmail.com">
                        </div>
                        <div class="phone">
                            <label for="t_phone">Phone:</label>
                            <input type="text" name="phone" placeholder="0123456789">
                        </div>
                        <div class="birthday">
                            <label for="t_birthday">Birthday:</label>
                            <input type="text" name="birthday" placeholder="11-11-2011">
                        </div>
                        <div class="sex">
                            <label for="t_sex">Sex :</label><br>
                            <select name="sex">
                                <option value="name">Male</option>
                                <option value="nu">Famale</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button class="btn_registry">Save</button>
            </form>
        </div>
        
    </div>
</div>

