*{
    border: none;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right,rgb(10, 131, 188),rgb(82, 158, 193));
    height: 100vh;
}
.bar_container{
    width: 100%;
    display: flex;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    border-bottom: 1px solid white ;
}
.bar_container .title{
    padding-left: 40px;
    padding-top: 25px;
    font-size: 20px;
}
.bar_container .header{
    display: flex;
    list-style: none;
    padding-left: 700px;
    padding-top: 25px;
    
}
.bar_container .title{
    animation-name: title_animation;
    animation-duration: 5s;
}
.bar_container .header li{
    padding-left: 50px;
}
.bar_container .header li a{
    text-decoration: none;
    color: white;
}
.bar_container .name_account{
    display: flex;
    padding-left: 80px;
}
.bar_container .name_account p{
    margin-top: 15px;
}
.bar_container .name_account img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 60px;
}
.bar_container .name_account .submenu_account{
    display: none;
    position: absolute;
    padding-left: 10px;
    list-style: none;
    top: 68px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-end-end-radius: 10px;
    z-index: 1;
}
.bar_container .name_account .submenu_account li{
    padding: 10px;
}
.bar_container .name_account .submenu_account li a{
    color: white;
    text-decoration: none;
    padding-top: 2px;
}
.bar_container .name_account:hover .submenu_account{
    display: block;
}
.bar_container .name_account .submenu_account li:hover{
    color: white;
    background-color: rgb(53, 115, 223);
}
@keyframes title_animation {
    30% {
        color: white;
        padding-left: 0px;
    }
    50% {
        color: rgb(53, 115, 223);
    }
    100% {
        color: white;
    }
}