<h1>Quản lý nhân viên</h1>
<a href="/add_person"><h3>Thêm người</h3></a>
<div class="container">
    <table>
        <tr>
            <th>STT</th>
            <th>Họ và tên</th>
            <th>Tài khoản</th>
            <th>Email</th>
            <th>Số Điện Thoại</th>
            <th>Số lượng đã bán</th>
            <th>Tổng số lượng đã bán</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>1</th>
            <th>Nguyễn Đình Huy</th>
            <th>huyhomhinh</th>
            <th>huykemvip@gmail.com</th>
            <th>03291944466</th>
            <th>100</th>
            <th>100</th>
            <th><a><button>Chi tiết bán</button></a></th>
            <th><a><button>Chỉnh sửa</button></a></th>
            <th><a><button>Xóa tài khoản</button></a></th>
        </tr>
    </table>
</div>
